# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environment
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# VSCode
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Windows
Thumbs.db